node_modules/
*/node_modules/
*.log
logs/
.DS_Store
Thumbs.db
# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file
.terraform.lock.hcl
# documents
*.doc